{% load static %}
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<body>
<h1>Hello, {{ data.name }}</h1>

<h3>Multiply by two</h3>
<form id="theform">
    <input type="text" value="10" id="val" />
    <input type="button" id="submit" value="Click me!" />
    {% csrf_token %}
</form>

<div id="response">
</div>

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


    $(document).ready( function() {
            $("#theform").on('click', function() {
                $.ajax({
                    url : "{% url 'main:getdata' %}", // the endpoint
                    type : "POST", // http method
                    data : { value : $('#val').val() }, // data sent with the post request

                    // handle a successful response
                    success : function(resp) {
                        $("#response").html(resp.value);
                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $("#response").html("Response failed with error: " + errmsg );
                        // provide a bit more info about the error to the console
                        console.log(xhr.status + ": " + xhr.responseText); 
                    }
                });

            });
    });



</script>

</body>
</html>
